:root {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    min-width: 1280px;
    min-height: 100vh;
    background-color: #fff;
}

button:focus,
button:focus-visible {
    outline: none;
}

.card {
    padding: 2em;
}

#app {
    /* max-width: 1280px; */
    margin: 0 auto;
    text-align: center;
}